.states {
	background: #272424;
	min-height: 100%;
	width: 100%;
  position: absolute;
	text-align: center;
	padding-bottom: 100px;
}
.states h1 {
	font-family: Fortuna;
	font-weight: normal;
	font-size: 48px;
	line-height: 62px;
	letter-spacing: 0.12em;
	color: #fff;
	text-align: center;
	padding: 80px 0 50px;
}
.states ul {
	width: 240px;
	margin: auto;
	padding-bottom: 50px;
}
.states .button {
	width: 100%;
	height: 45px;
	background: rgba(196, 196, 196, 0.2);
	border-radius: 11px;
	font-size: 18px;
	line-height: 45px;
	letter-spacing: 0.11em;
	margin-top: 30px;
}
.states img {
	max-width: 50%;
	vertical-align: middle;
}