html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, form, label, input, input:focus, li, ul, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
	list-style: none;
	box-sizing: border-box;
}

@font-face {
 font-family: Fortuna;
 src: url("./fonts/Fortuna.ttf")
}

body {
  font-family: 'Ubuntu', sans-serif;
}

/* common styles */
.title {
	font-family: Fortuna;
	text-align: center;
	font-weight: normal;
}
.button {
	text-align: center;
	border-radius: 50px;
	color:#fff;
	font-weight: bold;
	font-size: 19px;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	border: none;
	outline: none;
}
.back-button {
	background: url("./images/icons/arrow.png") no-repeat center;
	width: 78px;
	height: 78px;
	border: none;
	transform: rotate(180deg);
	padding:0;
	display: block;
	position: absolute;
	right: 25px;
  bottom: 15px;
}