.birth, .main, .choice, .final {
	background: #000;
	padding: 30px 30px 100px;
	min-height: 100vh;
	position: relative;
}
.main, .final {
	background: #fff;
}
.birth h1, .main h1 {
	font-family: Fortuna;
	font-weight: normal;
	font-size: 36px;
	line-height: 52px;
	text-align: center;
	letter-spacing: 0.12em;
	color: #fff;
	padding-bottom: 20px;
}
.main h1 {
	color: #000;
}
.p, .p p {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 34px;
	letter-spacing: 0.01em;
	color: #E1DDDD;
	padding-bottom: 20px;
}
.main .p, .final .p,
.main .p p, .final .p p {
	color: #000;
}
.options-box {
	padding: 20px 0;
}
.option {
	background: #232323;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 22px;
	opacity: 0.9;
	padding: 20px 50px;
	font-family: Roboto;
	font-size: 16px;
	line-height: 26px;
	color: #000;
	margin-top: 20px;
	position: relative;
}
.option.active {
	background: #fff;
	opacity: 1;
}
.option .next-button {
  right: 5px;
  bottom: 0px;
  width: 50px;
  height: 50px;
  background-size: cover;
  display: none;
}
.option.active .next-button {
	display: block;
}
img {
	display: block;
	margin: auto;
	max-width: 100%;
}